version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: next-better-auth-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: server_db
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  nats:
    image: nats:latest
    container_name: next-better-auth-nats
    ports:
      - '4222:4222'
      - '8222:8222'
    command: ['-js', '-m', '8222']

volumes:
  postgres_data:
